:root {
    --primary-color:#212121; /* основной цвет текста*/
    --secondary-color: #757575; /* дополнительный цвет текста*/
    --accent-color:#2196F3; /*цвет акцентного текста*/
    --accent-color-btn: #188CE8;/*цвет акцентного фона кнопки*/
    --solid-color:#EEEEEE;
    --secondary-bg-color:#2F303A; /* дополнительный цвет фона*/
    --accent-bg-color:#F5F4FA;/*цвет акцентного фона*/
    --primary-white-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --primary-font:'Roboto', sans-serif; /*основной шрифт*/
    --secondary-font:'Raleway', sans-serif; /*дополнительный шрифт*/
    --normal-font:400;
    --medium-font:500;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-font-size:14px;
} 
body{
    background-color: var(--primary-white-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--normal-font);
    font-style: normal;
    
}
/*container для центровки*/
.container {
    margin:0 auto;
    width: 1170px;
   
}
/*header*/
.header >.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}
.header{
   padding: 0 25px; 
    }

.logo{
    font-family: var(--secondary-font);
    font-weight: var(--bold-font);
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    line-height: 31px;
    letter-spacing: 0.03em;
        
}
.logo.studio {
    color: #000000;
}
.menu{
    margin-left: 93px;
    margin-right: 331px;
    
}
.menu-list{
    list-style: none; /*убираем точки*/
    display: flex;
    align-items: center;
    padding-left: 0;
    }
.menu-list .menu-link:hover,
.menu-list .menu-link:focus{
    color: var(--accent-color);
}
.menu-list .menu-link.current{
    color: var(--accent-color);
}
.menu-item + .menu-item{ /*если есть сестр.эл. дай мне отступ влево*/
    margin-left: 50px;
}

.menu-link{
    text-decoration: none; /*убираем подчеркивание в ссылке*/
    color: var(--primary-color);
    font-weight: var(--medium-font);
    line-height: 16px;
    letter-spacing: 0.02em;
}
.menu-info{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--medium-font);
    line-height: 16px;
    letter-spacing: 0.02em;
    }

.menu-info:hover,
.menu-info:focus{
    color: var(--accent-color);
}
/*hero*/
.hero{
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 200px 200px;
    margin-bottom: 94px;
}
.hero>.container {
   display: flex;
    align-items: center;
    flex-direction: column;
   

}
.hero-title{
    font-family:var(--primary-font);
    font-weight: var(--bolder-font);
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
}
.btn {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    padding: 10px 32px;
    border:var(--accent-color) ;       
}
.btn:hover,
.btn:focus{
    background-color: var(--accent-color-btn);
}
    /*features*/
.features{
    margin-bottom: 94px;
    }
/*семантическое скрытие элементов*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features-list{
    display: flex;
    align-items: center;  
    list-style: none;
    padding: 0;
}
.features-item + .features-item {
    margin-left: 30px;
}

.features-titles{
    font-weight: var(--bold-font);
    font-size: var(--primary-font-size);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
.features-text{
    font-weight: var(--normal-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
/*examples*/
.examples{
    margin-bottom: 94px;
}
.examples-title{
    font-family:var(--primary-font);
    font-weight:var(--bold-font);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.examples-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.examples-item{
    margin-right: 30px;
        
}
/*team*/

.team{
    padding: 94px 0px;
    background-color: var(--accent-bg-color);
    align-items: center;
}
.team-title{
    font-weight: var(--bold-font);
    font-size: 36px;
    line-height: 42px;  
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;    
}
.team-iteam{
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-iteam + .team-iteam{
    margin-left: 30px;
}
.team-person{
    font-weight: var(-medium-font);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-vocation{
    font-weight: var(--normal-font);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 30px;
}
/*footer*/
.footer{
    padding: 60px 0;
    background-color:var(--secondary-bg-color);
     
}
.logo-footer {
    font-family: var(--secondary-font);
    font-weight: var(--bold-font);
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    line-height: 31px;
    letter-spacing: 0.03em;
    
}

.logo-footer.studio-white {
    color: var(--primary-white-color);
}
.address{
    margin-top: 20px;
}
.address-list{
    list-style: none;/*убираем точки*/
    padding: 0; 
    margin: 0;  
}
.address-item{
    margin-bottom: 9px;
}

.address-link{
    text-decoration: none;/*убираем подчеркивание в ссылке*/
    color: var(--footer-text-color);
    font-weight: var(--normal-font);
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
   }
.address-street{
    color: var(--primary-white-color);
}

/*portfolio_css*/
.solid {
    background: var(--primary-white-color);
    border-bottom: 1px solid var(--solid-color);
    }
.filters{
    padding: 94px 0 ;
}
.menu-button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}
.menu-btn-item{
    margin-right: 8px;
}
.btn-portfolio {
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    border: var(--primary-white-color);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    padding: 6px 22px;
    font-weight: var(--medium-font);
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    white-space: nowrap;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-color-btn);
    color: var(--primary-white-color);
}
.works{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    }
.wokr-item{
background: var(--primary-white-color);
border: 1px solid var(--solid-color);
margin-bottom: 30px;
}
.work-title{
    font-weight: var(--bold-font);
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.work-description{
    font-weight: var(--normal-font);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding-left: 24px;
    margin-top: 4px;
    margin-bottom: 20px;
}